body  {
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#my-signin2{
    display: inline-block;
}
:root {
    --links: gainsboro;
}
section {
    display: none;
}
section:target {
    display: block;
}
body {
    background: linear-gradient(-45deg, #336699 , #003366, #336699 , #003366);
    background-size: 500% 500%;
    animation: gradient 20s infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}